<!DOCTYPE html>
<html>

    <head>   
        <link rel="stylesheet" href="miestilo.css">
    </head>

    <body id="body">
        Orion Software Colombia Ltda.<br>
        Dirección: Calle 36 # 11C-77, Santiago de Cali, Valle del Cauca, Colombia.<br>
        Teléfono Fijo: Indicativo(032) 4487609 - 4307802<br>
        E-mail: orionsoftwarecolombia@gmail.com<br>
        Horario de atención: Lunes a Viernes de 08:00 a.m. a 12:30 p.m. y 01:30 p.m. a 06:00 p.m. - Sábado: 09:00 a.m. a 12:00 p.m. 
    </body> 
    
</html>



