

.container{
  background: white;
  min-height: calc(100vh - 100px - 125px);
  overflow: hidden;
  padding: 10px 10px 10px 10px;
}

#header {
  width: 100%;
  height: 150px;
  background: #203756;

}

/*MENU DE NAVEGACION*/
#header .profile img {
  /*margin: 15px auto;
  display: block;*/
  width: 300px;
}

/*MENU DE NAVEGACION*/
.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  /*margin: 0;
  padding: 0;*/
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  /*display: flex;*/
  align-items: center;
  
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;

  font-family: 'Arial Narrow'; /*Fuente*/
  font-size: 15px; /*Tamaño de fuente*/
  font-weight: bold; /*Negrita*/
  text-decoration: none; /*Subrayado*/
  color: white; /*Color de fuente*/
  /*color: #D0CFC0;*/
}

.nav-menu a:hover{
  color: brown; 
}

.nav-menu a:active{
  background: #265301;
  color: white;
}

/*FOOTER*/
.footer {
  width: 100%;
  height: 125px;
  padding: 5px 5px 5px 5px;
  background: #203756;

  font-family: 'Arial Narrow'; /*Fuente*/
  font-size: 15px; /*Tamaño de fuente*/
  text-align: center;
  color: #D0CFC0;
  /*line-height: 3;*/
}



.Caja{
  outline: none;
}

.Button {
  width: 100px;
  height: 50px;
  background-color:#203756;
  border: 0px solid;
  border-radius: 3px;

  font-weight: bold; /*Negrita*/
  color: white;
}

/*Contact*/
.LeftContact{
  float: left;
}

.RightContact{
  float: right;
  font-size: 20px;
  text-align: center;
}

.StyleIconos{
  background-color:#203756;
  border: 0px solid;
  border-radius: 10px;

  font-weight: bold; /*Negrita*/
  color: white;
}

/**/

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.slider{
  position: relative;
  width: 100%;
  height: 300px;
}

ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
  opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
  opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;
  margin: 10px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #D0CFC0;
  padding: 5px 5px 5px 5px;
  width: 30px;
  height: 30px;
  font-size: 15px;
  border-radius: 100%;
}