{% load static %}
<!DOCTYPE html>
<html>

    <head>   
        <!-- Template Main CSS File -->
        <link href="{% static 'Css/style.css' %}" rel="stylesheet">
    </head>

    <footer class="footer">         
        Orion Software Colombia Ltda.<br>
        Dirección: Calle 36 # 11C-77 Barrio El Troncal, Santiago de Cali, Valle del Cauca, Colombia.<br>
        Teléfono Celular y WhatsApp : 320 691 9937<br>
        Correo Electrónico: orionsoftwarecolombia@gmail.com<br>
        Horario de atención: Lunes a Viernes de 08:00 a.m. a 12:30 p.m. y 01:30 p.m. a 06:00 p.m. - Sábado: 09:00 a.m. a 12:00 p.m. 
    </footer> 
    
</html>



