{% load static %}
<!DOCTYPE html>
<html>
    
    <header>
        {% include "header.html" %}
    </header>

    <body>
        <div class="container">
            <p style="color: #D0CFC0";>
                <H3>
                    <strong>Quiénes Somos</strong>
                </H3> 
            </p>

            <p>ORION SOFTWARE COLOMBIA LTDA,  nace en Santiago de Cali y cuenta con una trayectoria desde el año 
                1.999  en el mercado, produciendo y comercializando Sistemas de Información Contables y 
                Administrativos con los más altos estándares de calidad y tecnología.  Estamos ubicados en las 
                ciudades de Santiago de  Cali, Santa fe de  Bogotá, Pereira, Popayan, Cartago, Buga, entre otras. 
                Ahora hemos iniciado el proceso de actualización e implementación de la LEY 1314 de Julio 13 de 2009, 
                llamada también "Ley de Convergencia"; es nuestro deber como proveedores y desarrolladores de Software
                Administrativo y Contable en el que se procesara la información contable de su empresa mantenerlos a
                la vanguardia en estos aspectos.
            </p>
            
            <p>
                <H3>
                    <strong>Misión</strong>
                </H3> 
            </p>

            <p>ORION SOFTWARE COLOMBIA LTDA, es una casa productora de software de gestión contable administrativa, 
                integral/modular, generando productividad, eficiencia, competitividad a las empresas manufactureras, 
                de servicios y comerciales, convirtiendo a nuestros clientes en verdaderos socios de negocios. 
                Utilizando herramientas de tecnología de punta que garantizan la confiabilidad y calidad de la 
                información.
            </p>
            
            <p>
                <H3>
                    <strong>Visión</strong>
                </H3> 
            </p>

            <p>Está enfocada en proyectar la casa productora de software mediante el transcurso de diez años, en una
                empresa totalmente sólida, contando con un producto administrativo contable capaz de solucionar 
                problemas de información, en cada una de las empresas comerciales, productoras, comunicaciones y de
                servicios, que aportan su granito de arena al intenso progreso del país.
            </p>

        </div>
    </body>

    <footer >
        {% include "footer.html" %}
    </footer>  

</html>
