{% load static %}
<!DOCTYPE html>
<html>
    
    <header>
        {% include "header.html" %}
    </header>

    <body>
        <div class="container">

            <p>Nos ajustamos a sus necesidades</p>
            <p>Es una solución de negocios orientada a satisfacer las necesidades de información  contables y 
                administrativas en las empresas, de una manera confiable y oportuna. Sistema Administrativo Contable,
                desarrollado bajo lenguaje Delphi Cliente/Servidor, con  motor de base de datos Interbase, 
                que cuenta con la más moderna tecnología de punta en la programación orientada a objetos y ambiente
                visual. Con vierte la información de la Empresa en gran ventaja competitiva, permitiendo:
            </p>
            
            <li>Reconversión tecnológica</li>
            <li>Manejo de comunicación en Internet</li>
            <li>Ambiente gráfico</li><br>
            <p>Opera bajo los sistemas operacionales, Windows XP, Windows Vista, Windows  Seven, Server 2000, 
                Linux y Redes como Unix Open Server. Por su programación orientada a objetos permite importar 
                programas genéricos, integrarlos a la aplicación y usarlos como si fueran parte de ella misma lo
                cual le da un sinérgico e inapreciable poder de funcionalidad. Ofrece desarrollos especiales 
                adicionales  adaptables a requerimientos específicos del usuario. Permite diseñar Informes 
                Personalizados con generadores de reportes,  sin límite para sus necesidades. Es la mejor 
                relación costo-beneficio, siendo una solución de alta tecnología y funcionalidad a bajo precio. 
                Lenguaje de Desarrollo DELPHI Delphi, diseñada por Borland International Inc., es una poderosa 
                herramienta para el desarrollo rápido de aplicaciones basadas en componentes visuales.  Borland 
                International Inc, es líder en productos y servicios dedicados a los desarrolladores de software, 
                las cuales incluye a demás de Delphi, Borland C++, Visual Dbase, Parados,  Interbase y C#. Es una
                herramienta que rompe la barrera del alto rendimiento en ambientes Windows, combina el poder del
                compilador optimizado más rápido en la industria, otorgando un completo ambiente para el 
                desarrollo acelerado de aplicaciones visualmente ricas, incluyendo una arquitectura orientada a 
                objetos, así como una tecnología de base de datos escalable. Con Delphi se pueden crear 
                aplicaciones completas que corren de 10 a 20 veces más rápido que las anteriores generaciones de 
                herramientas visuales de primera generación como PowerBuilder, de PowerSoft y Visual Basic 
                Profesional de Microsoft. Otorga un nuevo aire fresco comparado con Visual Basic.  En efecto, el 
                producto ha tenido gran acogida en la comunidad de programadores e ingenieros de software.  
                De hecho, las herramientas de desarrollo viven una época y revolución que brinda mayores 
                oportunidades a los programadores, que ahora deben preocuparse más por los resultados, que por 
                escribir códigos largos para cada línea de ejecución.
            </p>
            
            <p>Desarrollo y Ventajas del Software</p>
            <p>El Sistema Administrativo y Contable ORION SOFTWARE, es desarrollado bajo lenguaje Delphi 
                Cliente/Servidor, con  motor de base de datos Interbase, basado en el estándar SQL, contando con
                la más moderna tecnología de punta en la programación orientada a objetos y ambiente grafico.
            </p>
            <li>Ayuda en línea, evitando el dispendioso manejo de manuales.</li>
            <li>Totalmente parametrizable según las  necesidades del negocio</li>
            <li>Generador de reportes, proporcionando al usuario la posibilidad de obtener informes personalizados de acuerdo a necesidades 
                particulares, con procedimientos sencillos.
            </li>
            <li>Conexión automática de la base de datos a Excel a través de ODBC.</li>
            <li>Manejo de usuarios con administración de permisos específicos por  módulos  y usuarios.</li>
            <li>Sistema modular e integrado. Modular: Porque el usuario tiene la oportunidad de adquirir un sólo módulo de acuerdo a sus 
                necesidades. Integrado: Ya que elaborando una sola transacción, el sistema actualiza automáticamente todas las áreas de información
                de su empresa, garantizando la cohesión de la información.
            </li>
            <li>Exportación de información  de la base de datos  a sistemas genéricos como: Excel, Word, Acces, Fox Pro, e-mail, etc. y conexión a 
                través de redes de área local o redes remotas vía telefónica o a través de la Internet.
            </li>
            <li>Manejo de diferentes unidades de negocios con posibilidad de consolidación.</li>
            <li>Totalmente parametrizable a través de conceptos, comprobantes, documentos, Puc, terceros, usuarios, configuraciones generales con 
                definición personalizada.
            </li>
            <li>Manejo de centros de costos y proyectos.</li>    
            <li>Cuenta además en todas las consultas con búsquedas detalladas.</li>
            <li>Navegación en la información a través de las consultas.</li>
            <li>Impresión de todas las consultas e informes totalmente gráficos, exportables a cualquier procesador de texto, hoja electrónica o 
                software para presentaciones, como ayuda de informes y anexos gerenciales.</li>



            <p>Bondades de nuestro Producto</p>
            <p>El Sistema Administrativo y Contable ORION SOFTWARE, cuenta con la más moderna tecnología de 
                punta en la programación orientada a objetos y ambiente gráfico.
            </p>
            <li>Solidez Empresarial</li>
            <li>Experiencia de nuestra planta de profesionales a su servicio en el sector Público y Privado.</li>
            <li>Política de ubicación geográfica estratégica a fin de brindar soporte inmediato y 
                personalizado a nuestros clientes.</li>
            <li>Nuestras propuestas económicas se cotizan en moneda nacional.</li>
            <li>Ayuda en línea, evitando el dispendioso manejo de manuales.</li>
            <li>Totalmente parametrizable según las necesidades Empresariales</li>
            <li>Conexión automática de la base de datos a Excel a través de ODBC.</li>
            <li>Manejo de usuarios con administración de permisos específicos por módulos y usuarios.</li>
            <li>Sistema modular e integrado. Modular: Porque el usuario tiene la oportunidad de adquirir un 
                sólo módulo de acuerdo a sus necesidades. Integrado: Ya que elaborando una sola transacción, 
                el sistema actualiza automáticamente todas las áreas de información de su empresa, 
                garantizando la cohesión de la información.</li>
            <li>Exportación de información de la base de datos a sistemas genéricos como: Excel, Word, Acces, 
                Fox Pro, e-mail, etc. y conexión a través de redes de área local o redes remotas vía 
                telefónica o a través de Internet.</li> 
            <li>Manejo de diferentes unidades de negocios con posibilidad de consolidación.</li>
            <li>Totalmente parametrizable a través de conceptos, comprobantes, documentos, Puc, terceros, 
                usuarios, configuraciones generales con definición personalizada.</li>
            <li>Manejo de diferentes unidades de negocios con posibilidad de consolidación.</li>
            <li>cuenta además en todas las consultas con búsquedas detalladas.</li>
            <li>Navegación en la información a través de las consultas.</li>
            <li>Impresión de todas las consultas e informes totalmente gráficos, exportables a cualquier 
                procesador de texto, hoja electrónica o software para presentaciones, como ayuda de informes y 
                anexos gerenciales.</li><br>

            <p>SISTEMA CONTABLE</p>
            <p>1. Modulo Configuración<br>
               2. Modulo Contabilidad<br>
               3. Modulo Tesorería<br>
               4. Modulo Cartera y Proveedores<br>
               5. Modulo Activos Fijos<br>
            </p>

            <p>SISTEMA COMERCIAL</p>
            <p>1. Modulo Compras<br>
               2. Modulo Inventarios<br>
               3. Modulo Ventas<br>
            </p>

            <p>SISTEMA DE COSTOS</p>
            <p>1. Modulo Costos de Producción<br>
               2. Costos ABC<br>
            </p>

            <p>SISTEMA GESTION HUMANA</p>
            <p>1. Modulo Nómina<br>
               2. Gestión Documental<br>
            </p>

            <p>SISTEMA SECTOR PÚBLICO</p>
            <p>1. Modulo Planeación<br>
               2. Modulo Jurídica – Contratación<br>
               3. Modulo Presupuesto<br>
               4. Modulo Rentas<br>
            </p>

            <p>SISTEMA DE USUARIOS</p>
            <p>1. Administración de Usuarios del Software<br>
               2. Políticas de acceso<br>
               3. Seguimiento de actividades dentro de software – Log<br>
               4. Sistema de Transparencia Documental<br>
            </p>

            <p>SISTEMA GERENCIAL</p>
            <p>1. Análisis Financiero<br>
               2. Estadísticas Comerciales<br>
               3. Informes Gráficos<br>
            </p>

            <p>SISTEMA COSTOS ABC</p>
            <p>1.  Mapas de Procesos<br>
               2. Gestión de Costos<br>
               3. Gestión Contable<br>
               4. Informes<br> 
            </p>

            <p>SISTEMA FACTURACIÓN ELECTRÓNICA</p>
            <p>1. Captura<br>
               2. emisión y envío electrónicamente a la DIAN<br>
            </p>

            <p>CARACTERISTICAS GENERALES DEL HARDWARE REQUERIDO</p>
            <li>Para el manejo de Orión Software sobre el sistema operacional Windows, le sugerimos proveer su 
               servidor con un procesador Intel de cualquier velocidad con los estándares normales.</li>
            <li>Para estaciones de redes locales de trabajo superiores a cuatro (4), recomendamos utilizar un 
               servidor con un sistema operativo especializado de red como Windows 2000 Server o NT Server.</li>
            <li>Sugerimos la configuración "TIPICO HOY", por tratarse de un modelo estándar.</li>
            <li>En la configuración de los servidores, no sugerimos procesadores AMD para el funcionamiento del 
               software.</li><br>

            <p>REQUERIMIENTOS MINIMOS PARA FUNCIONAMIENTO DE ORION SOFTWARE</p>
            <li>Sistema operativo Windows XP en adelante. Tipo de sistema operativo de 32 bits</li>
            <li>Procesador 2.0 GHz.</li>
            <li>Unidad de CD ROM</li>
            <li>Capacidad de disco duro 160 Gb</li>
            <li>Memoria 2Gb.</li>
            <li>Si el sistema se instalara en red, los protocolos de la red deben de ser TCP/IP con dirección fija.</li>
            <li>Resolución de los monitores mayor a 256 colores.</li>
            <li>El servidor debe poseer un dispositivo de CD ROM (quemador) o puertos USB. Esto con el fin de 
                hacer los backup o copia de seguridad</li>
            <li>No instalar en sistemas de visualización de PC tales como Between, MagicMirror entre otros.</li>









         
        </div>
    </body>

    <footer >
        {% include "footer.html" %}
    </footer>  

</html>
